/*--------------- 文字逐步顯示(輸入文字一樣) --------------- */
.line {
  width: inherit;
  top: 50%;
  margin: auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCussor 500ms steps(40) infinite normal;
}

//逐漸顯示
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

//右邊框閃爍
@media (max-width: 768px) {
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 17em;
    }
  }
}

@keyframes blinkTextCussor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
